Support parsing client credentials from request body

# Feature

From [RFC 6749 §2.3.1. Client Password](https://tools.ietf.org/html/rfc6749#section-2.3.1):

> The authorization server MUST support the HTTP Basic authentication scheme for authenticating clients that were issued a client password. [...] Alternatively, the authorization server MAY support including the client credentials in the request-body [...]

While "Including the client credentials in the request-body using the two parameters is NOT RECOMMENDED", there are existing clients that use it and supporting these seems essential.

## Alternatives

I currently have a hacky workaround of taking the credentials from the body of the request and generating my own `Authorization` header from them for `oxide_auth` to read.

## Tracking pull request

 - [ ] A pull request (does not yet exist/exists at #&#8230;)


That sounds like a very useful `MAY`. Of course one has to ensure that not *two* authorization methods are used but I'm inclined to allow this. The workaround sounds like it can be implemented correctly but seems risky to get right. I'll see what I can do.